[submodule "microservice/g-auth"]
	path = microservice/g-auth
	url = https://github.com/CrisBogucki/cb-msc-g-auth.git
[submodule "microservice-lib/smp-lib"]
	path = microservice-lib/smp-lib
	url = https://github.com/CrisBogucki/cb-msc-smp-lib.git
[submodule "microservice-lib/bcr-lib"]
	path = microservice-lib/bcr-lib
	url = https://github.com/CrisBogucki/cb-msc-bcr-lib.git
